.App {
  text-align: center;
  background-image: url(/img/logo_transparent.png);
  background-position: center;
}
h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
  background-color: bisque;
  border: 2px solid black;
  padding: auto;
}
h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}